<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav align-items: center"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    style="background-color: rgb(88, 214, 141)"
  >
    <div class="text-center mt-2 mb-2">
      <img
        src="https://www.thesprucepets.com/thmb/VDro2rx3m2WWj7h6Y6Cf3YA1nb0=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/AleksandrZotovAmericanBulldog-c717bec4805c43fab4c61f91da5f9d93.jpg"
        alt="Foto de usuario"
        class="rounded-circle img-fluid mb-3"
        style="width: 150px; height: 150px"
      />
    </div>
    <div class="container mt-5">
      <div class="px-2">
        <p><strong>Nombre:</strong> Juan Pérez Mamani</p>
        <p><strong>Rol:</strong> Admin</p>
      </div>
    </div>

    <hr />
<!--     <mat-toolbar >Menu</mat-toolbar> -->
    <mat-nav-list>
      <a mat-list-item routerLink="registrar-catastro">Registrar Catastro</a>
      <a mat-list-item routerLink="listar-catastro">Listar Catastro</a>
      <a mat-list-item routerLink="ver-catastro/1">Ver Catastro</a> <!-- Cambia el ID según sea necesario -->
      <a mat-list-item routerLink="editar-catastro/1">Editar Catastro</a> <!-- Cambia el ID según sea necesario -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      style="
        background-color: rgb(88, 214, 141);
        justify-content: space-between;
      "
    >
      <div class="text-start">
        <button
          *ngIf="isHandset$ | async"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div class="d-flex text-start">
        <button class="btn btn-link">
          <i class="fas fa-bell"></i>
        </button>
        <button class="btn btn-link">
          <i class="fas fa-envelope"></i>
        </button>
        <button class="btn btn-link">
          <i class="fas fa-cog"></i>
        </button>
      </div>
    </mat-toolbar>

    <!-- Aquí se renderizarán los componentes de las rutas -->
    <div class="container d-flex justify-content-center align-items-center" style="height: 100%;">
      <div class="row" style="margin: 10px;">
        <div class="col-12" style="padding: 10px;">
          <!-- Aquí se renderizarán los componentes de las rutas -->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>