/* Contenedor de la tabla */
.tabla-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%; /* Asegúrate de que el contenedor ocupe el 100% del ancho */
  overflow-x: auto; /* Permitir desplazamiento horizontal */
}

/* Tabla */
table {
  /* margin: 150px auto; */ /* Margen superior e inferior, centrado horizontalmente */
  margin-top: 100px;
  margin-bottom: 150px;
  margin-left: 140px;
  margin-right: 100px;
  max-width: 100%; /* Permitir que la tabla no exceda el ancho de la pantalla */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
  -ms-overflow-style: none; /* Oculta la barra de desplazamiento en IE y Edge */
}

/* Ocultar scrollbar en navegadores WebKit */
table::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en Chrome y Safari */
}

/* Celdas */
td,
th {
  border: 1px solid #595959; /* Borde de las celdas */
  border-collapse: collapse; /* Colapsa los bordes de la tabla */
  padding: 8px; /* Espaciado interno */
  height: 30px; /* Altura de las celdas */
  width: 60px; /* Ancho de las celdas */
}

/* Texto vertical */
.vertical-text {
  writing-mode: vertical-rl; /* Rotar el texto verticalmente */
  transform: rotate(180deg); /* Ajustar la dirección del texto */
  text-align: center; /* Centrar el texto */
  padding: 5px; /* Ajustar el padding para reducir el espacio horizontal */
  width: 50px; /* Establecer un ancho específico para la celda */
  height: auto;
}

/* Texto en una sola línea */
.single-line {
  white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
}

/* Texto centrado de la celda */
.mid {
  text-align: center;
}

/* Estilos específicos para diferentes elementos */
#g-a {
  text-align: start;
  font-size: 13px; /* Aumentar el tamaño del texto */
}

#t-f {
  text-align: center;
  padding: 20px;
  font-size: 50px; /* Aumentar el tamaño del texto */
}

#t-f2 {
  text-align: center;
  font-size: 40px; /* Aumentar el tamaño del texto */
}

#f-n {
  text-align: center;
  font-size: 17px; /* Aumentar el tamaño del texto */
}

#f-n2 {
  text-align: center;
  font-size: 20px; /* Aumentar el tamaño del texto */
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  td,
  th {
    font-size: 12px; /* Ajustar el tamaño de la fuente para pantallas pequeñas */
    padding: 5px; /* Reducir el padding para celdas */
    width: auto; /* Permitir que el ancho de las celdas se ajuste automáticamente */
  }

  #t-f {
    font-size: 30px; /* Ajustar el tamaño del texto del título */
  }

  #t-f2 {
    font-size: 24px; /* Ajustar el tamaño del texto del subtítulo */
  }

  #g-a {
    font-size: 11px; /* Ajustar el tamaño del texto de la dirección */
  }
}

/* esto es la parte final de la firmas  */
.contenedor-flex {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos horizontalmente */
  height: 200px; /* Ajusta la altura del contenedor */
  align-items: stretch; /* Asegura que las columnas se estiren verticalmente */
}

.columna {
  width: 25%; /* Cada columna ocupa el 25% del espacio */
  background-color: lightblue; /* Color de fondo para visualizar las columnas */
  padding: 10px; /* Espacio interno */
  display: flex; /* Necesario para alinear contenido verticalmente */
  flex-direction: column; /* Alinea el contenido verticalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  border: 1px solid red; /* Agrega un borde rojo para visualizar las líneas */
}
