/* Contenedor de la tabla */
.tabla-contenedor {
  overflow-x: auto; /* Permitir desplazamiento horizontal */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  background-color: white;
  padding: 20px; /* Espaciado interno opcional */
}

/* Tabla */
table {
  margin-top: 10px;
  margin-bottom: 150px;
  background-color: white;
  width: 100%; /* Asegúrate de que la tabla ocupe el 100% del ancho del contenedor */
  min-width: 1200px; /* Establece un ancho mínimo para la tabla */
}

/* Ocultar scrollbar en navegadores WebKit */
table::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en Chrome y Safari */
}

/* Celdas */
td,
th {
  border: 1px solid #595959; /* Borde de las celdas */
  border-collapse: collapse; /* Colapsa los bordes de la tabla */
  padding: 8px; /* Espaciado interno */
  height: 40px; /* Permitir que la altura se ajuste automáticamente */
}
/* Texto vertical */
.vertical-text {
  writing-mode: vertical-rl; /* Rotar el texto verticalmente */
  transform: rotate(180deg); /* Ajustar la dirección del texto */
  text-align: center; /* Centrar el texto */
  padding: 5px; /* Ajustar el padding para reducir el espacio horizontal */
  width: 50px; /* Establecer un ancho específico para la celda */
  height: auto;
}

/* Texto en una sola línea */
.single-line {
  white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
}

/* Texto centrado de la celda */
.mid {
  text-align: center;
}

/* Estilos específicos para diferentes elementos */
#g-a {
  text-align: start;
  font-size: 15px; /* Aumentar el tamaño del texto */
}

/* Ajustar la celda de la imagen */
td img {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho de la celda */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Asegura que la imagen se comporte como un bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}
/* Estilos específicos para diferentes elementos */
#t-f {
  text-align: center;
  padding: 20px;
  font-size: 50px; /* Aumentar el tamaño del texto */
  white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
  min-width: 300px; /* Establecer un ancho mínimo para la celda */
}

#t-f2 {
  text-align: center;
  font-size: 40px; /* Aumentar el tamaño del texto */
}

#f-n {
  text-align: center;
  font-size: 23px; /* Aumentar el tamaño del texto */
}

#f-n2 {
  text-align: center;
  font-size: 26px; /* Aumentar el tamaño del texto */
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  td,
  th {
    font-size: 12px; /* Ajustar el tamaño de la fuente para pantallas pequeñas */
    padding: 5px; /* Reducir el padding para celdas */
    width: auto; /* Permitir que el ancho de las celdas se ajuste automáticamente */
  }

  #t-f {
    font-size: 30px; /* Ajustar el tamaño del texto del título */
  }

  #t-f2 {
    font-size: 24px; /* Ajustar el tamaño del texto del subtítulo */
  }

  #g-a {
    font-size: 11px; /* Ajustar el tamaño del texto de la dirección */
  }
}

/* esto es la parte final de la firmas  */
.td-firmas {
  height: 200px; /* Altura del td */
}

/* esto la seccion de las imgagenes  */
.contenedor-diagonal {
  position: relative;
  height: 100%; /* Ajusta según sea necesario */
  width: 100%; /* Ajusta según sea necesario */
}

.div-extremo {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  position: absolute;
  width: 30%; /* Tamaño de los div de los extremos */
  height: 350px; /* Ajusta según sea necesario */
}

.div-extremo.izquierda {
  top: 0;
  left: 0;
}

.div-extremo.derecha {
  position: absolute; /* Si necesitas que esté en una posición fija */
  bottom: 0;
  right: 0;
  border: 1px solid black; /* Agrega solo el borde */
  background-color: transparent; /* Elimina el fondo de color */
}

.div-medio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Ocupa el 60% del espacio */
  height: 1000px; /* Ajusta según sea necesario */
  background-color: lightgreen; /* Color de fondo para visualizar */
}
