<div class="tabla-contenedor">
  <table>
    <tbody>
      <tr>
        <td colspan="2">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Escudo_de_San_Borja%2C_Beni.jpg/640px-Escudo_de_San_Borja%2C_Beni.jpg"
            alt=""
            width="200"
            height="200"
          />
        </td>
        <td colspan="6" id="g-a">
          Gobierno Autonomo Municipal de San Borja <br />
          Direccion de Dessarrollo Urbano y Rural <br />
          Unidad de Catastro Urbano
        </td>
        <td colspan="10" id="t-f">
          <p id="t-f2">FORMULARIO UNICO DE</p>
          REGISTRO CATASTRAL
        </td>
        <td colspan="6" id="f-n">
          <p id="f-n2">FORMULARIO Nº</p>
          (Uso Exclusivo de Catastro)
        </td>
      </tr>
      <tr>
        <td rowspan="5" class="vertical-text">PROPIETARIO (S)</td>
        <td colspan="4" class="single-line">APELLIDO PATERNO</td>
        <!-- Clase para mantener el texto en una sola línea -->
        <td colspan="5" class="single-line">APELLIDO MATERNO</td>
        <td colspan="5" class="single-line">NOMBRE (S)</td>
        <td class="single-line mid">%</td>
        <td colspan="2" class="single-line mid">TIP.DOC.</td>
        <td colspan="3" class="single-line mid">Nº DOCUMENTO</td>
        <td colspan="3" class="single-line mid px-3">NUMERO DE INMUEBLE</td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td colspan="5"></td>
        <td colspan="5"></td>
        <td></td>
        <td colspan="2"></td>
        <td colspan="3"></td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td colspan="5"></td>
        <td colspan="5"></td>
        <td></td>
        <td colspan="2"></td>
        <td colspan="3"></td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td colspan="5"></td>
        <td colspan="5"></td>
        <td></td>
        <td colspan="2"></td>
        <td colspan="3"></td>
        <td colspan="3" rowspan="2"></td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td colspan="5"></td>
        <td colspan="5"></td>
        <td></td>
        <td colspan="2"></td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td colspan="2" rowspan="3">CLASIFICACION DEL DERECHO PROPIETARIO</td>
        <td colspan="7" class="single-line">NOMBRE DEL NOTARIO</td>
        <td colspan="3" class="single-line">FECHA DE INSCRIPCION</td>
        <td colspan="3" class="single-line">MATRICULA O PARTIDA</td>
        <td colspan="3" class="single-line">Nº DE TESTIMONIO</td>
        <td colspan="4" class="single-line">FECHA DE TESTIMONIO</td>
        <td colspan="2" class="single-line">SUPERFICIE</td>
      </tr>
      <tr>
        <td colspan="7"></td>
        <td colspan="3"></td>
        <td colspan="3"></td>
        <td colspan="3"></td>
        <td colspan="4"></td>
        <td colspan="2" rowspan="2"></td>
      </tr>
      <tr>
        <td colspan="7"></td>
        <td colspan="3"></td>
        <td colspan="3"></td>
        <td colspan="3"></td>
        <td colspan="4"></td>
      </tr>
      <tr>
        <td colspan="2">CODIGO CATASTRAL</td>
        <td colspan="2">DISTRITO</td>
        <td colspan="2">SECTOR</td>
        <td colspan="2">MANZANO</td>
        <td>PREDIO</td>
        <td colspan="2">SUB PREDIO</td>
        <td colspan="3">DIRECCION</td>
        <td>ZONA:</td>
        <td colspan="9"></td>
      </tr>
      <tr>
        <td colspan="2">Indentificado por el propietario</td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
        <td colspan="2"></td>
        <td colspan="9"></td>
        <td colspan="4"></td>
      </tr>
      <tr>
        <td colspan="2">Uso Exclusivo de <br />Catastro</td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
        <td colspan="2"></td>
        <td colspan="9"></td>
        <td colspan="4"></td>
      </tr>
      <tr>
        <td colspan="7">OBRA GRUESA</td>
        <td colspan="2">USO</td>
        <td>B1%</td>
        <td>B2%</td>
        <td>B3%</td>
        <td>B4%</td>
        <td>B5%</td>
        <td colspan="7">SUPERFICIE CONSTRUIDA (M2)</td>
        <td colspan="3">SERVICIOS BASICOS</td>
      </tr>
      <tr>
        <td colspan="2">ESTRUCTURA</td>
        <td>B1%</td>
        <td>B2%</td>
        <td>B3%</td>
        <td>B4%</td>
        <td>B5%</td>
        <td colspan="2">Vivienda</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">PLANTAS</td>
        <td>B1%</td>
        <td>B2%</td>
        <td>B3%</td>
        <td>B4%</td>
        <td>B5%</td>
        <td colspan="2">ALCANTARILLADO</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">HᵒAᵒ PILOTAJE</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">Comercio</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">Planta Baja</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">AGUA POTABLE</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">HᵒAᵒ RADIER</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">Residencial</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">Planta Alta</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" class="single-line">ENERGIA ELECTRICA</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">HORMIGON ARMADO</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" class="single-line">ALUMBRADO PUBLICO</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">METALICA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">TELEFONO</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">CIMIENTO DE PIEDRA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">DESTINO</td>
        <td>B1%</td>
        <td>B2%</td>
        <td>B3%</td>
        <td>B4%</td>
        <td>B5%</td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">GAS DOMICILIARIO</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">LADRILLO TUBULAR</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">Vivienda</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="3" class="single-line">CARACTERISTICAS DEL TERRENO</td>
      </tr>
      <tr>
        <td colspan="2">MADERA (HORCONES)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">Comercio</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">UBICACIÓN</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" style="color: red">MUROS</td>
        <td>B1%</td>
        <td>B2%</td>
        <td>B3%</td>
        <td>B4%</td>
        <td>B5%</td>
        <td colspan="2">Residencial</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">PENDIENTE</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">BLOQUE DE CEMENTO</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">NIVEL</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">LADRILLO TUBULAR</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">FORMA</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">LADRILLO ADOBITO</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" style="color: red">DEPRECIACION</td>
        <td>B1%</td>
        <td>B2%</td>
        <td>B3%</td>
        <td>B4%</td>
        <td>B5%</td>
        <td colspan="4" class="single-line">
          <strong>TOTAL SUPER. CONSTRUIDA</strong>
        </td>
        <td colspan="2"></td>
        <td></td>
        <td colspan="2">ACERA</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">LADRILLO HUECO</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" class="single-line">AÑO DE CONSTRUCCION</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="7" style="color: red">SUPERFICIE DEL TERRENO (M2)</td>
        <td>FRENTE</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">ADOBE</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">AÑO DE REFACCION</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="4" class="single-line">SUP. SEGÚN LEVANTAMIENTO</td>
        <td colspan="2"></td>
        <td></td>
        <td>FONDO</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">MADERA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">PORCENTAJE</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="4">SUP. SEGÚN TESTIMONIO</td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">BARRO+CHUCHIO</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" style="color: red">ESTADO FISICO</td>
        <td>B1%</td>
        <td>B2%</td>
        <td>B3%</td>
        <td>B4%</td>
        <td>B5%</td>
        <td colspan="4">AREA EXEDENTE</td>
        <td colspan="2"></td>
        <td></td>
        <td
          colspan="3"
          rowspan="5"
          style="text-align: center; vertical-align: middle"
        >
          <img src="assets/N1.png" height="180px" width="180px" />
        </td>
      </tr>
      <tr>
        <td colspan="2" style="color: red">CUBIERTA</td>
        <td>B1%</td>
        <td>B2%</td>
        <td>B3%</td>
        <td>B4%</td>
        <td>B5%</td>
        <td colspan="2">MUY BUENO</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="4">AREA RESIDUAL</td>
        <td colspan="2"></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">LOSA HᵒAᵒ</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">BUENO</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="4">SUPERFICIE UTIL</td>
        <td colspan="2"></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">TEJA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">ECONOMICO</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="4"></td>
        <td colspan="2"></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">PLACA FIBROCEMENTO</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">M. ECONOMICO</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="4"></td>
        <td colspan="2"></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">CALAMINA ZINC</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">MARGINAL</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="4"></td>
        <td colspan="2"></td>
        <td></td>
        <td rowspan="2" style="color: red">ESCALA:</td>
        <td colspan="2" rowspan="2"><strong>Apropiada</strong></td>
      </tr>
      <tr>
        <td colspan="2">CALAMINA DURALIT</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="14">
          <span style="color: red">LEVANTAMIENTO DEL PREDIO</span>
          (Si es necesario adjuntar plano a escala adecuada)
        </td>
      </tr>
      <tr>
        <td colspan="2">JATATA - MOTACU</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="17" rowspan="43">
          <div class="contenedor-diagonal">
            <div class="div-extremo izquierda">
              <img src="assets/N2.png" height="300px" width="300px" />
            </div>
            <div class="div-medio"></div>
            <div class="div-extremo derecha">
              <img src="assets/N3.png" height="300px" width="300px" />
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="7" style="color: rgb(0, 132, 255)">
          <strong>ACABADOS REVESTIMINETO</strong>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="color: red">PISOS</td>
        <td>B1%</td>
        <td>B2%</td>
        <td>B3%</td>
        <td>B4%</td>
        <td>B5%</td>
      </tr>
      <tr>
        <td colspan="2">MARMOL</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">CERAMICA ESMALTADA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">CERAMICA ROJA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">ALFOMBRA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">ENTABLONADO</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">PARQUET</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">MACHIMBRADO</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">TABLAS DE MADERA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">MOSAICO</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">CEMENTO PLANCHADO</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">TIERRA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" style="color: red">CIELO</td>
        <td>B1%</td>
        <td>B2%</td>
        <td>B3%</td>
        <td>B4%</td>
        <td>B5%</td>
      </tr>
      <tr>
        <td colspan="2">MATERIALES ESPECIALES</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">MADERA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">YESO + PINTURA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="single-line">MACHIMBRE ACRILICO (PVC)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" style="color: red">MUROS INTERIORES</td>
        <td>B1%</td>
        <td>B2%</td>
        <td>B3%</td>
        <td>B4%</td>
        <td>B5%</td>
      </tr>
      <tr>
        <td colspan="2">MATERIALES ESPECIALES</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">MARMOL</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">CERAMICA ESMALTADA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">AZULEJOS</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">LADRILLO VISTO</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">CEMENTO+ARENA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">MADERA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">ADOBE</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" style="color: red">FACHADA</td>
        <td>B1%</td>
        <td>B2%</td>
        <td>B3%</td>
        <td>B4%</td>
        <td>B5%</td>
      </tr>
      <tr>
        <td colspan="2">MATERIALES ESPECIALES</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">MARMOL</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">CERAMICA ESMALTADA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">PLACAS DE PIEDRA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">CEMENTO+ARENA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">MADERA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">ADOBE</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" style="color: red">PUERTAS</td>
        <td>B1%</td>
        <td>B2%</td>
        <td>B3%</td>
        <td>B4%</td>
        <td>B5%</td>
      </tr>
      <tr>
        <td colspan="2">MADERA 1ºCLASE</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">MADERA 2ºCLASE</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">ALUMINIO</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">METALICA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" style="color: red">VENTANAS</td>
        <td>B1%</td>
        <td>B2%</td>
        <td>B3%</td>
        <td>B4%</td>
        <td>B5%</td>
      </tr>
      <tr>
        <td colspan="2">MADERA 1ºCLASE</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">MADERA 2ºCLASE</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="1">OBSERVACIONES:</td>
        <td colspan="13"></td>
        <td colspan="3">FECHA</td>
      </tr>
      <tr>
        <td colspan="2">ALUMINIO</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="14" rowspan="2" class="mid" style="font-size: 30px">
          ESCRITURA PUBLICA, EN VIA VOLUNTARIA SOBRE SUCESIÓN SIN <br /><br />
          TESTAMENTO O ACEPTACIÓN DE HERENCIA PURA Y SIMPLE.
        </td>
        <td colspan="3" rowspan="2"></td>
      </tr>
      <tr>
        <td colspan="2">METALICA</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="24">
          NOTA: En condición de propietario, de acuerdo al artículo 1322 del
          código civil, declaro expresamente que los datos proporcionados son
          verificados y fidedignos; para lo que, manifiesto pleno
          consentimiento, entera Conformidad y absoluta aceptación para que el
          Gobierno Municipal de San Borja en uso de sus especificaciones
          funciones y atribuciones establecidas por ley proceda a la inscripción
          verificación y fiscalización de los mismos en sitio, Autorizando y
          otorgando a dicho efecto las seguridades de ingreso y transito al
          personal técnico designado.
        </td>
      </tr>
      <tr class="td-firmas">
        <td colspan="6"></td>
        <td colspan="6"></td>
        <td colspan="6" rowspan="2"></td>
        <td colspan="6"></td>
      </tr>
      <tr>
        <td colspan="6"></td>
        <td colspan="6"></td>
        <td colspan="6"></td>
      </tr>
      <tr class="mid">
        <td colspan="6">Jefe de la Unidad de Catastro</td>
        <td colspan="6">Empadronador y Valoración</td>
        <td colspan="6">Firma Propietario</td>
        <td colspan="6">Sello Unidad de Catastro</td>
      </tr>
    </tbody>
  </table>
</div>
