
<table>
    <tbody>
        <tr>
            <td colspan="2" class="image-cell">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Escudo_de_San_Borja%2C_Beni.jpg/640px-Escudo_de_San_Borja%2C_Beni.jpg" alt="" width="150" height="150">
            </td>
            <td colspan="6"></td>
            <td colspan="10"></td>
            <td colspan="3"></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td rowspan="5" class="vertical-text">PROPIETARIO (S)</td> <!-- Aplicar clase para texto vertical -->
            <td colspan="4" class="single-line">APELLIDO PATERNO</td> <!-- Clase para mantener el texto en una sola línea -->
            <td colspan="5" class="single-line">APELLIDO MATERNO</td>
            <td colspan="5" class="single-line">NOMBRE (S) </td>
            <td>%</td>
            <td colspan="2">TIP.DOC. </td>
            <td colspan="3">Nº DOCUMENTO</td>
            <td colspan="3">NUMERO DE INMUEBLE</td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td colspan="5"></td>
            <td colspan="5"></td>
            <td></td>
            <td colspan="2"></td>
            <td colspan="3"></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td colspan="5"></td>
            <td colspan="5"></td>
            <td></td>
            <td colspan="2"></td>
            <td colspan="3"></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td colspan="5"></td>
            <td colspan="5"></td>
            <td></td>
            <td colspan="2"></td>
            <td colspan="3"></td>
            <td colspan="3" rowspan="2"></td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td colspan="5"></td>
            <td colspan="5"></td>
            <td></td>
            <td colspan="2"></td>
            <td colspan="3"></td>
        </tr>
    </tbody>
</table>