<!-- seccion 2  -->
<tbody>
  <!-- SECCIÓN 2 -->
  <tr>
    <td colspan="2" rowspan="3">
      CLASIFICACION DEL <br />
      DERECHO PROPIETARIO
    </td>
    <td colspan="7" class="input-cell">
      <input
        type="text"
        class="full-width-input"
        name="notarioJuez_0"
        list="notarioJuezOptions_0"
        placeholder="Seleccione o escriba"
      />
      <datalist id="notarioJuezOptions_0">
        <option value="Nombre del Notario"></option>
        <option value="Nombre del Juez"></option>
        <option value="Otro Notario"></option>
      </datalist>
    </td>
    <td colspan="3" class="single-line mid">FECHA DE INSCRIPCION</td>
    <td colspan="3" class="single-line mid">MATRICULA O PARTIDA</td>
    <td colspan="3" class="single-line mid">Nº DE TESTIMONIO</td>
    <td colspan="4" class="single-line mid">FECHA DE TESTIMONIO</td>
    <td colspan="2" class="single-line mid">SUPERFICIE</td>
  </tr>

  <!-- REGISTRO 1 -->
  <tr>
    <td colspan="7" class="input-cell">
      <input
        type="text"
        class="full-width-input"
        name="nombreNotarioJuez_0"
        list="nombreNotarioOptions_0"
        placeholder="Seleccione o escriba"
      />
      <datalist id="nombreNotarioOptions_0">
        <option value="Nombre del Notario"></option>
        <option value="Nombre del Juez"></option>
        <option value="Otro Notario"></option>
      </datalist>
    </td>
    <td colspan="3" class="input-cell">
      <input
        type="date"
        class="full-width-input mid"
        name="fechaInscripcion_0"
      />
    </td>
    <td colspan="3" class="input-cell">
      <input
        type="text"
        class="full-width-input mid"
        name="matriculaPartida_0"
      />
    </td>
    <td colspan="3" class="input-cell">
      <input
        type="text"
        class="full-width-input mid"
        name="numeroTestimonio_0"
      />
    </td>
    <td colspan="4" class="input-cell">
      <input
        type="date"
        class="full-width-input mid"
        name="fechaTestimonio_0"
      />
    </td>
    <td colspan="1" rowspan="2" class="input-cell">
      <input type="number" class="full-width-input mid" name="superficie_0" />
    </td>
    <td colspan="1" rowspan="2" class="mid">M2</td>
  </tr>

  <!-- REGISTRO 2 -->
  <tr>
    <td colspan="7" class="input-cell">
      <input
        type="text"
        class="full-width-input"
        name="nombreNotarioJuez_1"
        list="nombreNotarioOptions_1"
        placeholder="Seleccione o escriba"
      />
      <datalist id="nombreNotarioOptions_1">
        <option value="Nombre del Notario"></option>
        <option value="Nombre del Juez"></option>
        <option value="Otro Notario"></option>
      </datalist>
    </td>
    <td colspan="3" class="input-cell">
      <input
        type="date"
        class="full-width-input mid"
        name="fechaInscripcion_1"
      />
    </td>
    <td colspan="3" class="input-cell">
      <input
        type="text"
        class="full-width-input mid"
        name="matriculaPartida_1"
      />
    </td>
    <td colspan="3" class="input-cell">
      <input
        type="text"
        class="full-width-input mid"
        name="numeroTestimonio_1"
      />
    </td>
    <td colspan="4" class="input-cell">
      <input
        type="date"
        class="full-width-input mid"
        name="fechaTestimonio_1"
      />
    </td>
  </tr>
  <!-- REGISTRO 3 -->
</tbody>
<!-- seccion 3  -->
<tbody>
  <tr>
    <td colspan="2">CODIGO CATASTRAL</td>
    <td colspan="2" class="mid">DISTRITO</td>
    <td colspan="2" class="mid">SECTOR</td>
    <td colspan="2" class="mid">MANZANO</td>
    <td class="mid">PREDIO</td>
    <td colspan="2" class="mid">SUB PREDIO</td>
    <td colspan="3" class="mid">DIRECCION</td>
    <td>ZONA:</td>
    <td colspan="9" class="input-cell">
      <input
        type="text"
        class="full-width-input"
        placeholder="Ingresar datos zona"
        name="Zona_0"
      />
    </td>
  </tr>
  <tr>
    <td colspan="2">Identificado por el <br />propietario</td>
    <td colspan="2" class="input-cell">
      <input
        type="text"
        class="full-width-input mid"
        placeholder="Ingresar datos"
        name="DistritoPropietario_0"
      />
    </td>
    <td colspan="2" class="input-cell">
      <input
        type="text"
        class="full-width-input mid"
        placeholder="Ingresar datos"
        name="SectorPropietario_0"
      />
    </td>
    <td colspan="2" class="input-cell">
      <input
        type="text"
        class="full-width-input mid"
        placeholder="Ingresar datos"
        name="ManzanoPropietario_0"
      />
    </td>
    <td class="input-cell">
      <input
        type="text"
        class="full-width-input mid"
        placeholder="Ingresar datos"
        name="PredioPropietario_0"
      />
    </td>
    <td colspan="2" class="input-cell">
      <input
        type="text"
        class="full-width-input mid"
        placeholder="Ingresar datos"
        name="SubPredioPropietario_0"
      />
    </td>
    <td colspan="9" class="input-cell">
      <input
        type="text"
        class="full-width-input start-50"
        placeholder="Ingresar datos dirección"
        name="DireccionPropietario_0"
      />
    </td>
    <td colspan="4" class="mid">VIAS DE:</td>
  </tr>
  <tr>
    <td colspan="2">Uso Exclusivo de <br />Catastro</td>
    <td colspan="2" class="input-cell">
      <input
        type="text"
        class="full-width-input mid"
        placeholder="Ingresar datos"
        name="DistritoCatastro_0"
      />
    </td>
    <td colspan="2" class="input-cell">
      <input
        type="text"
        class="full-width-input mid"
        placeholder="Ingresar datos"
        name="SectorCatastro_0"
      />
    </td>
    <td colspan="2" class="input-cell">
      <input
        type="text"
        class="full-width-input mid"
        placeholder="Ingresar datos"
        name="ManzanoCatastro_0"
      />
    </td>
    <td class="input-cell">
      <input
        type="text"
        class="full-width-input mid"
        placeholder="Ingresar datos"
        name="PredioCatastro_0"
      />
    </td>
    <td colspan="2" class="input-cell">
      <input
        type="text"
        class="full-width-input mid"
        placeholder="Ingresar datos"
        name="SubPredioCatastro_0"
      />
    </td>
    <td colspan="9" class="input-cell">
      <input
        type="text"
        class="full-width-input mid"
        placeholder="Ingresar datos dirección"
        name="DireccionCatastro_0"
      />
    </td>
    <td colspan="4" class="input-cell">
      <input
        type="text"
        class="full-width-input mid"
        placeholder="Ingresar datos vías"
        name="ViasDe_0"
      />
    </td>
  </tr>
</tbody>

<!-- seccion 4  -->
<tbody>
  <tr>
    <td id="obraGruesaHeader" colspan="7" style="color: rgb(0, 38, 255)">
      OBRA GRUESA
    </td>
  </tr>
  <tr>
    <td colspan="2" style="color: red">ESTRUCTURA</td>
    <td class="mid">B1%</td>
    <td class="mid">B2%</td>
    <td class="mid">B3%</td>
    <td class="mid">B4%</td>
    <td class="mid">B5%</td>
  </tr>
  <tr>
    <!-- fila 1 del HᵒAᵒ PILOTAJE -->
    <td colspan="2">HᵒAᵒ PILOTAJE</td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="HᵒAᵒ PILOTAJE"
        data-columna="b1"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="HᵒAᵒ PILOTAJE"
        data-columna="b2"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="HᵒAᵒ PILOTAJE"
        data-columna="b3"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="HᵒAᵒ PILOTAJE"
        data-columna="b4"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="HᵒAᵒ PILOTAJE"
        data-columna="b5"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
  </tr>
  <tr>
    <!-- fila 2 HᵒAᵒ RADIER -->
    <td colspan="2">HᵒAᵒ RADIER</td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="HᵒAᵒ RADIER"
        data-columna="b1"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="HᵒAᵒ RADIER"
        data-columna="b2"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="HᵒAᵒ RADIER"
        data-columna="b3"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="HᵒAᵒ RADIER"
        data-columna="b4"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="HᵒAᵒ RADIER"
        data-columna="b5"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
  </tr>
  <tr>
    <!-- fila 3 HORMIGON ARMADO -->
    <td colspan="2">HORMIGON ARMADO</td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="HORMIGON ARMADO"
        data-columna="b1"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="HORMIGON ARMADO"
        data-columna="b2"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="HORMIGON ARMADO"
        data-columna="b3"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="HORMIGON ARMADO"
        data-columna="b4"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="HORMIGON ARMADO"
        data-columna="b5"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
  </tr>
  <tr>
    <!-- fila 4 METALICA-->
    <td colspan="2">METALICA</td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="METALICA"
        data-columna="b1"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="METALICA"
        data-columna="b2"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="METALICA"
        data-columna="b3"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="METALICA"
        data-columna="b4"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="METALICA"
        data-columna="b5"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
  </tr>
  <tr>
    <!-- fila 5 CIMIENTO DE PIEDRA  -->
    <td colspan="2">CIMIENTO DE PIEDRA</td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="CIMIENTO DE PIEDRA"
        data-columna="b1"
        type="number"
        class="full-width-input mid"
        placeholder="1000"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="CIMIENTO DE PIEDRA"
        data-columna="b2"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="CIMIENTO DE PIEDRA"
        data-columna="b3"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="CIMIENTO DE PIEDRA"
        data-columna="b4"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>

    <td class="input-cell">
      <input
        #obraInput
        data-estructura="CIMIENTO DE PIEDRA"
        data-columna="b5"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
  </tr>
  <tr>
    <!-- fila 6 LADRILLO TUBULAR -->
    <td colspan="2">LADRILLO TUBULAR</td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="LADRILLO TUBULAR"
        data-columna="b1"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="LADRILLO TUBULAR"
        data-columna="b2"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="LADRILLO TUBULAR"
        data-columna="b3"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="LADRILLO TUBULAR"
        data-columna="b4"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="LADRILLO TUBULAR"
        data-columna="b5"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
  </tr>
  <tr>
    <!-- fila 7 MADERA (HORCONES) -->
    <td colspan="2">MADERA (HORCONES)</td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="MADERA (HORCONES)"
        data-columna="b1"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="MADERA (HORCONES)"
        data-columna="b2"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="MADERA (HORCONES)"
        data-columna="b3"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="MADERA (HORCONES)"
        data-columna="b4"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
    <td class="input-cell">
      <input
        #obraInput
        data-estructura="MADERA (HORCONES)"
        data-columna="b5"
        type="number"
        class="full-width-input mid"
        placeholder="100"
      />
    </td>
  </tr>
</tbody>
<!-- seccion 5  -->
<tbody>
  <tr>
    <td colspan="2" style="color: red">MUROS</td>
    <td class="mid">B1%</td>
    <td class="mid">B2%</td>
    <td class="mid">B3%</td>
    <td class="mid">B4%</td>
    <td class="mid">B5%</td>
  </tr>
  <tr>
    <td colspan="2">BLOQUE DE CEMENTO</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">LADRILLO TUBULAR</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">LADRILLO ADOBITO</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">LADRILLO HUECO</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">ADOBE</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">BARRO+CHUCHIO</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
</tbody>
<!-- seccion 6  -->
<tbody>
  <tr>
    <td colspan="2" style="color: red">CUBIERTA</td>
    <td class="mid">B1%</td>
    <td class="mid">B2%</td>
    <td class="mid">B3%</td>
    <td class="mid">B4%</td>
    <td class="mid">B5%</td>
  </tr>
  <tr>
    <td colspan="2">LOSA HᵒAᵒ</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">TEJA</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">PLACA FIBROCEMENTO</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">CALAMINA ZINC</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">CALAMINA DURALIT</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">JATATA - MOTACU</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
</tbody>
<!-- seccion 7  -->
<tbody>
  <tr>
    <td colspan="7" style="color: rgb(0, 132, 255)">
      <strong>ACABADOS REVESTIMINETO</strong>
    </td>
  </tr>
</tbody>
<!-- seccion 8 -->
<tbody>
  <tr>
    <td colspan="2" style="color: red">PISOS</td>
    <td>B1%</td>
    <td>B2%</td>
    <td>B3%</td>
    <td>B4%</td>
    <td>B5%</td>
  </tr>
  <tr>
    <td colspan="2">MARMOL</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">CERAMICA ESMALTADA</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">CERAMICA ROJA</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">ALFOMBRA</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">ENTABLONADO</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">PARQUET</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">MACHIMBRADO</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">TABLAS DE MADERA</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">MOSAICO</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">CEMENTO PLANCHADO</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">TIERRA</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
</tbody>
<!-- seccion 9 -->
<tbody>
  <tr>
    <td colspan="2" style="color: red">CIELO</td>
    <td>B1%</td>
    <td>B2%</td>
    <td>B3%</td>
    <td>B4%</td>
    <td>B5%</td>
  </tr>
  <tr>
    <td colspan="2">MATERIALES ESPECIALES</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">MADERA</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">YESO + PINTURA</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2" class="single-line">MACHIMBRE ACRILICO (PVC)</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
</tbody>
<!-- seccion 10 -->
<tbody>
  <tr>
    <td colspan="2" style="color: red">MUROS INTERIORES</td>
    <td>B1%</td>
    <td>B2%</td>
    <td>B3%</td>
    <td>B4%</td>
    <td>B5%</td>
  </tr>
  <tr>
    <td colspan="2">MATERIALES ESPECIALES</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">MARMOL</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">CERAMICA ESMALTADA</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">AZULEJOS</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">LADRILLO VISTO</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">CEMENTO+ARENA</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">MADERA</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">ADOBE</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
</tbody>
<!-- seccion 11 -->
<tbody>
  <tr>
    <td colspan="2" style="color: red">FACHADA</td>
    <td>B1%</td>
    <td>B2%</td>
    <td>B3%</td>
    <td>B4%</td>
    <td>B5%</td>
  </tr>
  <tr>
    <td colspan="2">MATERIALES ESPECIALES</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">MARMOL</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">CERAMICA ESMALTADA</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">PLACAS DE PIEDRA</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">CEMENTO+ARENA</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">MADERA</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">ADOBE</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
</tbody>
<!-- seccion 12 -->
<tbody>
  <tr>
    <td colspan="2" style="color: red">PUERTAS</td>
    <td>B1%</td>
    <td>B2%</td>
    <td>B3%</td>
    <td>B4%</td>
    <td>B5%</td>
  </tr>
  <tr>
    <td colspan="2">MADERA 1ºCLASE</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">MADERA 2ºCLASE</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">ALUMINIO</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">METALICA</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
</tbody>
<!-- seccion 13 -->
<tbody>
  <tr>
    <td colspan="2" style="color: red">VENTANAS</td>
    <td>B1%</td>
    <td>B2%</td>
    <td>B3%</td>
    <td>B4%</td>
    <td>B5%</td>
  </tr>
  <tr>
    <td colspan="2">MADERA 1ºCLASE</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">MADERA 2ºCLASE</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">ALUMINIO</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
  <tr>
    <td colspan="2">METALICA</td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
    <td class="input-cell">
      <input type="number" class="full-width-input mid" />
    </td>
  </tr>
</tbody>
